:link,:visited { 
  text-decoration:none 
}

ul,ol { 
  list-style:none 
}

h1,h2,h3,h4,h5,h6,pre,code { 
  font-size:1em; 
}

ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input, figure { 
  margin:0; padding:0 
}

a img,:link img,:visited img { 
  border:none 
}

address { 
  font-style:normal 
}

@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: normal;
  src:url('../fonts/PT_Sans-Narrow-Web-Regular.ttf');
}

@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: bold;
  src:url('../fonts/PT_Sans-Narrow-Web-Bold.ttf');
}

body {
  font-family: PTSans;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 125%;
  background: #000 url('../img/background.jpg') no-repeat center top 0;
}

a {
  color: #fff;
  text-decoration: none;
}

h2 {
  font-size: 30px;
}

.inner-page {
  background: #f8f3f0 url("../img/layer-10-copy.png") repeat;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.top-menu {
  min-width: 100%;
  background-color: #000;
  margin-bottom: 60px;
}

.center {
  width: 940px;
  margin:0 auto;
  padding: 0 10px;
}

.main-nav {
  width: 780px;
  float: left;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.main-nav li {
  display: inline-block;
  line-height: 20px;
  font-size: 16px;
  vertical-align: top;
}

.main-nav a {
  padding: 26px 20px;
  display: block;
}

.main-nav .active a {
  position: relative;
}

.main-nav .active a:after {
  content: "";
  height: 5px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
}

.user-block {
  margin-bottom: 3px;
}

.user-block a{
  display: inline-block;
  position: relative;
  padding: 23px 20px;
  font-size: 16px;
  padding-left: 50px;
}

.main-nav a:hover{
  background: #4d4d4d;
}

.user-block a:hover {
  background: #4d4d4d;
}

.main-nav .active a:hover {
  background: none;
}

.login:before {
  content: "";
  position: absolute;
  top: 25px;
  left: 22px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/-icon-login.png") no-repeat 0 3px;
  opacity: .3;
 }

 .login:hover:before {
  opacity: 1;
 }

.logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
  color: #fff;
  font-size: 14px;
}

.features-element {
  width: 300px;
  float: left;
  margin-right: 20px;
  text-align: center;
}

.features-element p {
  margin: 10px;
}

.features-element:last-child {
  margin-right: 0;
 }

.features-title {
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 30px;
}

.features-title:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  background: #fff;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  background: url("../img/layer-17-copy.png") no-repeat center, 
              url("../img/layer-10-copy.png");

 }

.index-content .left-column {
  width: 330px;
  float: left;
 }

.index-content .right-column {
  float: right;
  width: 300px;
 }

time {
  display: block;
  font-family: "Georgia";
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  text-transform: none; 
  margin-bottom: 30px;
 }

.index-content .news-btn {
  padding: 10px 30px;

}

.index-content .content-column-title {
  margin-bottom: 35px;

 }

.index-content p {
  font-size: 14px;
  line-height: 24px;
 }

 .index-content img {
  margin: 7px;
  margin-bottom: 2px;
 }

 .content-gallery {
  background: #fff;
  margin-bottom: 35px;
 }

 .btn {
  display: inline-block;
  background: #000; 
  font-size: 14px;
  color: #fff;
  line-height: 
  padding: 10px 0;
  vertical-align: top;
  text-align: center;
  border: none;
  outline: none;
  text-transform: uppercase; 
  font-family: "PTSans";
  font-style: bold;
  font-weight: 700;
  line-height: 24px;
 }

 .btn:hover {
  background: #663d15;
 }

 .index-content .prv-btn,
 .index-content .next-btn {
  display: inline-block;
  width: 140px; /* wasn't correct in Moz*/
  padding: 10px 0;
  text-transform: uppercase; 
  font-family: "PTSans";
  font-style: bold;
  margin-left: 0;
  margin-right: 20px;
  float: left;
 }

 .index-content .next-btn {
  margin-right: 0;
 }

.were-we-btn, .feedback-btn {
  padding: 10px 25px;
  margin-right: 20px;
  margin-top: 50px;
}

.feedback-btn {
  margin-right: none;
}

.index-content-form input {
  width: 106px;
  outline: none;
  border: 2px solid #000;
  text-transform: uppercase; 
  font-family: PTSans;
  font-style: bold;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  padding: 8px 15px;
 }

.index-content-form input:nth-child(2n) {
  margin-right: 0;
  
}

input:focus {
  border: 2px solid #663d15;
}

.index-content .right-column p {
  margin-bottom: 25px;
}

input::-webkit-input-placeholder       {color: #000;}
input::-moz-placeholder                {color: #000;}
input:-moz-placeholder                 {color: #000;}
input:-ms-input-placeholder            {color: #000;}
input:focus::-moz-placeholder          {color: transparent;}
input:focus::-webkit-input-placeholder {color: transparent;}
input:focus:-moz-placeholder           {color: transparent;}
input:focus:-ms-input-placeholder      {color: transparent;}

.form-btn {
  width: 100%;
  padding: 10px 0;
}

.index-content:last-child {
  margin-bottom: 60px;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #232323 url("../img/slice-5.png");
  
  color: #fff;
  font-size: 14px;
}

.main-footer .adress {
 width: 320px;
 float: left;
 margin-right: 80px;

}

.main-footer .copyright {
  max-width: 320px;
  float: right;
  text-align: center;
}

.main-footer .social {
  float: left;
  text-align: center;
}

.social a{
  display: inline-block;
  width: 43px;
  height: 43px;
  float: left;
  margin-right: 6px;
}

.vkontakte {
  background: #000 url("../img/12-layers.png");
}

.facebook {
  background: #000 url("../img/12-layers.png") -50px 0;
}

.instagram {
  background: #000 url("../img/12-layers.png") 43px 0;
}

.vkontakte:hover {
  background: url("../img/12-layers.png") 0 43px;
  transition: 0.4s ease;
}

.facebook:hover {
  background: url("../img/12-layers.png") -50px 43px;
  transition: 0.4s ease;

}

.instagram:hover {
  background: url("../img/12-layers.png") 43px 43px;
  transition: 0.4s ease;
}

.copyright-btn {
  padding: 10px 30px;
  transition: color .8s, background .8s;
}

.card-group-nav .active,
.copyright-btn:hover {
  color: #000;
  background: #fff;
 
}

.modal-content {
  padding: 50px 80px 0 80px; 
  top: 0;
  left: 50%;
  margin-top: 150px;
  margin-left: -230px; 
  width: 300px;
  position: absolute;
  background: url("../img/layer-10-copy.png");
  padding-bottom: 60px;
  z-index: 999;

}

.modal-close {
  position: absolute;
  left: 510px;
  top: 55px;
  width: 22px;
  height: 22px;
  background: #000 url("../img/cross--16x16--copy.png") no-repeat;
  opacity: .5;
}

.modal-close:hover {
  cursor: pointer;
  opacity: 1;
}

.login-form {
  font-size: 14px;
}

.login-form input {
  width: 264px;
  outline: none;
  border: 2px solid #000;
  text-transform: uppercase; 
  font-family: PTSans;
  font-style: bold;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  padding: 8px 15px;
}

.modal-content h2 {
  font-size: 30px;
  font-weight: 42px;
  margin-bottom: 20px;
}

.modal-content p {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 24px;
} 

.login-input {
  margin-bottom: 10px;
  background: url("../img/2-layers.png") no-repeat 265px 12px;
}

.password-input {
  margin-bottom: 15px;
  background: url("../img/2-layers.png") no-repeat 265px -37px;
}

.login-form a {
  color: #000;
  text-decoration: underline;
  float: right;
}

.login-form-btn {
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
}

.login-form label {
  display: inline;
}

label {
  display: block;
  position: relative;
  margin-left: 40px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  left: -40px;
}

input[type="checkbox"]+label {
  vertical-align: top;
}

.shop-form li{ 
  line-height: 20px;
}

input[type="checkbox"]:checked+label:before {
  content: "";
  background: url("../img/layer-29-copy.png") no-repeat 3px 3px;
}
 
input[type="checkbox"]+label:hover {
  color: #663d15;
}

.group-price input[type="checkbox"]+label:before {
  border-radius: 50%;

}

.group-price input[type="checkbox"]:checked+label:before {
  content: "";
  background: url("../img/shape-2-copy.png") no-repeat 5px 4px;
}

/*/////////////////////////////////////////</INDEX>/////////////////////////////////////////////////////*/

/*/////////////////////////////////////////<PRICE>/////////////////////////////////////////////////////*/

.inner-page .top-nav {
  margin-bottom: 55px;
}

.price-title {
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
 }

.guid-block {
  margin-bottom: 60px;
  font-size: 14px;
 }

.bread-crumbs a{
  color: #000;
}

.bread-crumbs li{
  color: #000;
  position: relative;
 }

.bread-crumbs li:after {
  content: "";
  position: absolute;
  right: 14px;
  top: 8px;
  width: 8px;
  height: 8px;
  background: #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
 }

.bread-crumbs .current:after {
  display: none;
 }

.bread-crumbs .current {
  color: #aba9a7;
 }

.bread-crumbs li{
  display: inline;
  float: left;
  padding-right: 35px;

 }

 .inner-content {
  font-size: 14px;
  margin-bottom: 75px;
  position: relative;
 }

 .shadow {
  width: 100%;
  box-shadow: inset 0 40px 20px -20px #000; 
 } 

.tagline {
  text-align: center;
}

.inner-content .tagline h2{
  margin: 0;
  font-size: 48px;
  display: inline;
  padding: 0 25px;
  position: relative;
  text-align: center;
  z-index: 2;
  background: #f8f3f0 url("../img/layer-10-copy.png") repeat;
 }

.inner-content .tagline:after {
  content: "";
  position: relative;
  display: block;
  bottom: 25px;
  z-index: 1;
  border-bottom: 2px solid #000;
}

.inner-content h2 {
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 60px;
}

.inner-content .column-right {
  width: 460px;
  float: right;
}

.inner-content .column-left {
  width: 460px;
  float: left;
}

.brand-list li:after{
  content: "";
  position: absolute;
  left: 0px;
  top: 8px;
  width: 8px;
  height: 8px;
  background: #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.inner-content .brand-list li{
  /*list-style-image: url("../img/shape-1-copy.png");*/
  padding-left: 20px;
  margin-bottom: 15px;
  position: relative;
}

.servises-table {
  width: 100%;
  margin-bottom: 90px;
}

td {
  border: 2px solid #000;
}

table {
  border-collapse: collapse;
}

td {
  
  padding: 10px 20px;
}

td:last-child {
  text-align: center;
}

/*/////////////////////////////////////</PRICE>///////////////////////////////////////////////////*/

/*////////////////////////////////////<ITEM>/////////////////////////////////////////////////////*/

.main-item {
  padding-bottom: 80px;
}

.gallery {
  width: 460px;
  float: left;
}

.main-img {
  width: 460px;
  height: 498px;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.prv-img {
  display:block;
  float: left;
  width: 140px;
  height: 149px;
  margin: 20px 20px 0 0; 
  box-shadow: 3.2px 3.8px 25px rgba(0, 1, 1, 0.3);
}

.gallery-row a:last-child {
  margin-right: 0;
}

.item-description {
  font-size: 14px;
  width: 380px;
  float: right;
}

.item-description h1 {
  font-size: 30px;
  font-weight: inherit;
  margin-bottom: 24px;
}

.item-description h2 {
  font-size: 24px;
  font-weight: inherit;
  margin-bottom: 40px;
}

.item .bay-block,
.item-description .bay-block {
  width: 187px;
  background: #e5e5e5;
}

.item .bay-btn,
.item-description .bay-btn {
  padding: 10px 20px;
  float: right;
  display: block;
  margin-bottom: 0;
}

.item .price,
.item-description .price {
  float: left;
  display: block; 
  font-size: 14px;
  margin: 10px 0 0 25px;
}

.bay-block{
  margin-bottom: 35px;
}

.available {
  margin-bottom: 25px;
}

.item-type {
  float: right;
  color: #aeaeae;
}

.item-description p{
  margin-bottom: 60px;
}

.list-set li {
  padding-left: 20px;
  position: relative;
}

.list-set li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 9px;
  height: 9px;
  background: #000;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*////////////////////////////////////////////</ITEM>///////////////////////////////////////////////*/ 

/*////////////////////////////////////////////<SHOP>////////////////////////////////////////////////*/

.shop-form {
  font-size: 14px;
  width: 170px;
  float: left;
}

.shop-form legend {
  font-size: 24px;
  padding-left: 0;
  margin-bottom: 30px; 
}

.shop-form .group-price,
.shop-form .brands {
  margin-bottom: 50px;
}

.shop-form ul li {
  cursor: pointer;
  margin-bottom: 20px;
}

.shop-form .form-btn {
  cursor: pointer;

}

.shop-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.card-group {
  display: block;
  float: right;
  width: 700px;
  margin-bottom: 30px;

}

.card-group .item {
  display: block;
  float: left;
  width: 220px;
  height: 286px;
  margin-bottom: 20px;
  margin-right: 20px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);

}

.card-group .item:nth-child(3n) {
  margin-right: 0;
}

.card-group .card-group-nav {
 margin-bottom: 45px;
}

.card-group-nav a{
  cursor: pointer;
  display:block;
  width: 43px;
  float: left;
  text-align: center;
  padding: 10px 0;
  margin-right: 7px;
}

.card-group-nav .active {
  cursor: default;
}

.item .title {
  font-size: 14px;
  color: #000;
  line-height: 1.3;
  margin: 10px 15px;
}

.item .category{
  text-transform: none;
}

.item .bay-block {
  margin-left: 16.5px;
}

